@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --txtcol:     #7f1d1d;
}

.jaini-regular {
  font-family: "Jaini", serif;
  font-weight: 400;
  font-style: normal;
}

.akshar-regular {
  font-family: "Akshar", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tiro {
  font-family: "Tiro Devanagari Hindi", serif;
  font-weight: 600;
  font-style: normal;
}

.tiro-small {
  font-family: "Tiro Devanagari Hindi", serif;
  font-weight: 400;
  font-style: normal;
}

.kurale-regular {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}

h3{
  padding-bottom: 1rem;
  padding-top: 1rem; 
}

li{
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

em{
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --txtcol:     #fdf2f2;

  }
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 12px;
  text-align: left;
  border: 2px solid #7f1d1d ;

}

body {
  color: var(--foreground);
  background: var(--background);
  color: var(--txtcol);
  font-family: Arial, Helvetica, sans-serif;
}
